<script lang='typescript'>
	import {onMount} from 'svelte';
	import Button, { Label, Icon } from '@smui/button/bare'
	import TopAppBar, {Row, Section, Title} from '@smui/top-app-bar/bare';
	import IconButton from '@smui/icon-button/bare';
	import Drawer, {AppContent, Content, Header, Subtitle, Scrim} from '@smui/drawer/bare';
  import List, {Item, Text, Graphic, Separator, Subheader} from '@smui/list/bare';
	import H6 from '@smui/common/H6.svelte';
	import '@smui/button/bare.css'
	import '@smui/top-app-bar/bare.css'
	import '@smui/icon-button/bare.css'
	import '@smui/drawer/bare.css'
	import '@smui/list/bare.css'


	let count: number = 0;
	onMount(() => {
		const interval = setInterval(() => count++, 1000);
		return () => {
			clearInterval(interval);
		};
	});

	function reset(_e: object) {
		count = 0;
	}

	let myMenuDrawer:any;
	let myMenuDrawerOpen = false;
	let activeMenuSelection = 'Inbox';
	function setMenuSelection(value: string) {
		activeMenuSelection = value;
		myMenuDrawerOpen = false;
	}
</script>
	
<style>
	:global(body) {
		margin: 0;
		font-family: Arial, Helvetica, sans-serif;
	}
	.app {
		text-align: center;
	}
	.app code {
		background: #0002;
		padding: 4px 8px;
		border-radius: 6px;
	}
	.app p {
		margin: 0.4rem;
	}
	
	.app-body {
		background-color: #f9f6f6;
		color: #333;
		min-height: 95vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: calc(10px + 2vmin);
	}
	.app-link {
		color: #ff3e00;
	}
	.app-logo {
		height: 36vmin;
		pointer-events: none;
		margin-bottom: 3rem;
		animation: app-logo-spin infinite 1.6s ease-in-out alternate;
	}
	@keyframes app-logo-spin {
		from {
			transform: scale(1);
		}
		to {
			transform: scale(1.06);
		}
	}
</style>

<div class="app">
	<Drawer variant="modal" bind:this={myMenuDrawer} bind:open={myMenuDrawerOpen}>
		<Header>
			<Title>Super Mail</Title>
			<Subtitle>It's the best fake mail app drawer.</Subtitle>
		</Header>
		<Content>
			<List>
				<Item href="javascript:void(0)" on:click={() => setMenuSelection('Inbox')} activated={activeMenuSelection === 'Inbox'}>
					<Graphic class="material-icons" aria-hidden="true">inbox</Graphic>
					<Text>Inbox</Text>
				</Item>
				<Item href="javascript:void(0)" on:click={() => setMenuSelection('Star')} activated={activeMenuSelection === 'Star'}>
					<Graphic class="material-icons" aria-hidden="true">star</Graphic>
					<Text>Star</Text>
				</Item>
				<Item href="javascript:void(0)" on:click={() => setMenuSelection('Sent Mail')} activated={activeMenuSelection === 'Sent Mail'}>
					<Graphic class="material-icons" aria-hidden="true">send</Graphic>
					<Text>Sent Mail</Text>
				</Item>
				<Item href="javascript:void(0)" on:click={() => setMenuSelection('Drafts')} activated={activeMenuSelection === 'Drafts'}>
					<Graphic class="material-icons" aria-hidden="true">drafts</Graphic>
					<Text>Drafts</Text>
				</Item>
	
				<Separator nav />
				<Subheader component={H6}>Labels</Subheader>
				<Item href="javascript:void(0)" on:click={() => setMenuSelection('Family')} activated={activeMenuSelection === 'Family'}>
					<Graphic class="material-icons" aria-hidden="true">bookmark</Graphic>
					<Text>Family</Text>
				</Item>
				<Item href="javascript:void(0)" on:click={() => setMenuSelection('Friends')} activated={activeMenuSelection === 'Friends'}>
					<Graphic class="material-icons" aria-hidden="true">bookmark</Graphic>
					<Text>Friends</Text>
				</Item>
				<Item href="javascript:void(0)" on:click={() => setMenuSelection('Work')} activated={activeMenuSelection === 'Work'}>
					<Graphic class="material-icons" aria-hidden="true">bookmark</Graphic>
					<Text>Work</Text>
				</Item>
			</List>
		</Content>
	</Drawer>
	<Scrim />
	<AppContent >
		<TopAppBar variant="static" color="primary">
			<Row>
				<Section>
					<IconButton class="material-icons" aria-label="Menu Toggle" on:click={() => myMenuDrawerOpen = !myMenuDrawerOpen}>menu</IconButton>
					<Title>Svelte Material {activeMenuSelection ? ` - ${activeMenuSelection}` : null}</Title>
				</Section>
				<Section align="end" toolbar>
					<IconButton class="material-icons" aria-label="Download">file_download</IconButton>
					<IconButton class="material-icons" aria-label="Print this page">print</IconButton>
					<IconButton class="material-icons" aria-label="Bookmark this page">bookmark</IconButton>
				</Section>
			</Row>
		</TopAppBar>
		
	
		<section class="app-body">
			<img src="/logo.svg" class="app-logo" alt="logo" />
			<p>Edit <code>src/App.svelte</code> and save to reload.</p>
			<p>App has REALLY REALLY has been open for <code>{count}</code> seconds.</p>
			<p>
				<a class="app-link" href="https://svelte.dev" target="_blank" rel="noopener noreferrer">
					Learn Svelte
				</a>
			</p>
			<Button on:click={reset} variant="raised" class="button-shaped-round">
				<Icon class="material-icons">replay</Icon>
				<Label>
					reset timer/counter
				</Label>
			</Button>
		</section>
	</AppContent>
</div>